nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 18px;
  position: sticky;
  top: 0;
  background: #020817;
  z-index: 2;
}
nav > h3 {
  font-size: 2.2rem;
  font-weight: 400;
}

nav > ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
nav > ul > li {
  letter-spacing: 1.9px;
}
.nav-font {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2rem;
  transition: 0.5s;
}

.nav-font-active {
  color: orange;
}
